<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 02</title>
</head>

<body>
    <template id="template">
        <div>
            Название книги: {{ title }}> <br />
            Автор: {{ author }}
            <hr />
        </div>
    </template>

    <script src="mustache.min.js"></script>
    <script>
        /*
        Задание:
        Используя библиотеку mustache.js выведите содержимое массива books на экран используя шаблон #template
        Выполните рефакторинг (изменения структуры кода без изменения результата) шаблона #template таким образом, чтобы
        название книги и имя автора выводились без использования span с уникальными id, а через инструменты mustache.js
        */
        let books = [
            {
                title: "JavaScript. Полное руководство 7-е издание",
                author: "Дэвид Флэнаган"
            },
            {
                title: "JavaScript. Шаблоны",
                author: "Стоян Стефанов"
            },
            {
                title: "Секреты JavaScript ниндзя",
                author: "Секреты JavaScript ниндзя"
            }
        ];
        let template = document.querySelector("#template").innerHTML;

        books.forEach(book => {
            let html = Mustache.render(template, book);
            document.body.innerHTML += html;
        })
    </script>
</body>

</html>